<!DOCTYPE html>
{%extends 'BlogApp/base.html'%}
{%block title%}SRI SAI BLOG{%endblock%}
{%block content%}
    <h1>SRI SAI Blog</h1>
     <hr />
    {%for post in post_list%}
        <h2><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
         <p>Tags:{{post.tags.all|join:','}}</p>
         <p id='date'>Published on {{post.publish}} by
{{post.author|title}}</p>
        {{post.body| truncatewords:30|linebreaks}}
    {%endfor%}
    {%include 'BlogApp/pagination.html' with page=post_list%}
    {% comment %}{%include 'BlogApp/pagination.html' with page=page_obj%}
{%endcomment %}
{%endblock%}


