<!DOCTYPE html>
{% extends 'BlogApp/base.html' %}
{% block title %}Share Post By Email{% endblock %}
{% block content %}
    {% if sent %}
        <h1>Email Successfully sent !!!</h1>
        <p>"{{ post.title }}" was sent by email</p>
    {% else %}
        <h1>Share {{ post.title }}"by Email!!!"</h1>
        <form method="post" style="color: black">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" name="" class="btn btn-success" value="Send Mail">
        </form>
    {% endif %}
    <a href="/">Back To Home Page</a>
{% endblock %}
